<section class="global-section profil pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-9">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Sejarah Desa</h3>
        <div class="maps bg-white p-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12971.533409482196!2d105.18590566690688!3d-5.394986974643147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40d042155cd0fb%3A0x34bdfaa8cdea9f63!2sPinang%20Jaya%2C%20Kec.%20Kemiling%2C%20Kota%20Bandar%20Lampung%2C%20Lampung!5e1!3m2!1sid!2sid!4v1644460602168!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
          <div class="row mt-4">
            <div class="col-md-11 m-auto">
              <h5 class="pb-3 font-weight-bold">Sejarah Singkat <%= villageName %></h5>
            </div>

            <div class="col-md-11 m-auto">
              <p><%= villageName %> adalah bagian dari wilayah Kecamatan Kemiling yang memiliki luas wilayah sekitar 195 Hektar serta terdiri dari 3 lingkungan dan juga 23 rukun tetangga. <%= villageName %> berbatasan langsung dengan Kelurahan Jalan Imam Bonjol di bagian utara, kelurahan Sumber Agung di bagian selatan, Desa Kurungan Nyawa di bagian barat, dan juga di bagian timur berbatasan dengan kelurahan Sumber Rejo.</p>
              <p><%= villageName %> merupakan suatu desa yang penuh dengan keanekaragaman sosial dan juga budaya. Di desa ini pula banyak terdapat UMKM yang siap mendorong perekonomian nasional melalui produk-produk ciptaannya yang berkualitas tinggi namun ramah di kantong. Tidak luput pula desa ini dianugerahi wisata alam yang amat menawan seperti Lengkung Langit yang membuat siapa saja bisa betah untuk berwisata ke <%= villageName %></p>
            </div>
          </div>
        </div>

        <!-- <div class="row mt-2 p-3">
          <table class="table table-responsive-sm bg-white">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="align-middle">
                  <h5 class="font-weight-bold" style="padding:10px 0px;">Periodesasi Kepemimpinan Kepala Desa</h5>
                </th>
              </tr>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Periode</th>
                <th scope="col">Kepala Desa</th>
                <th scope="col">Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>2017 - 2023</td>
                <td class="font-weight-bold">Muhammad Ilyas Banno</td>
                <td>Kades III</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2014 - 2017</td>
                <td class="font-weight-bold">H. Muhammad Basri</td>
                <td>Pejabat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2008 - 2014</td>
                <td class="font-weight-bold">Nasri K Sewang</td>
                <td>Kades Periode II</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>2003 - 2008</td>
                <td class="font-weight-bold">Nasri K Sewang</td>
                <td>Kades II</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>1994 - 2003</td>
                <td class="font-weight-bold">Muh Nur Said</td>
                <td>Kades</td>
              </tr>
            </tbody>
          </table>
        </div> --->

      </div>
    </div>
  </div>
</section>